@font-face {
  font-family: Imported;
  src: url(./fonts/Sansation_Light_Italic.ttf);
}
#root {
  font-family: Imported;
}

.readcontainer {
  font-family: Imported;
}
* {
  margin-right: 0;
}
@media (max-width: 347px) {
  .scrolltotop {
    display: none;
  }
}
